<%= @subscriber.name%><br>
<%= @subscriber.email%>
<hr>
<form action="/subscriber/<%= @subscriber.id%>" method="post">
    <select id="select" name="select">
        <% @companies.each do |company|%>
            <option value="<%= company.id%>"><%= company.name%></option>
        <% end %>
    </select>
    <button type="submit">Subscribe</button>
</form>
<hr>
<h3>Companies Subscribed To:</h3>
<% if @interest.any?() %>
    <% @interest.each do |item|%>
        <%= item.name%>
    <%end%>
<% else%>
    <p>No companies subscribed to</p>
<%end%>